*.pyc
.idea/
build/
dist/
env/
setup.cfg
*.egg-info
*.iml
*.sql
.eggs
.coverage
web/node_modules
/site
/secrets/*.env
/secrets/*.yaml
!/secrets/default.yaml
!/secrets/test.yaml
yarn.lock
*.code-workspace

# ansible inventory files
inv-*
